<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resolve Reimbursement</title>
    <link rel="shortcut icon" href="../static/styles/money.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
	<div id="title" class="bg-warning text-dark jumbotron">
	  <h1 class="display-5">Reimbursement Request Resolve</h1>
	</div>
  	<div id="pending-request-detail">
  	  <table id="resolve-reim-detail" class="table table-bordered" style="margin-left: 10%; max-width: 80%">
  	  	<thead class="thead-light">
  	      <tr><th>Id</th><th>Amount</th><th>Employee</th><th>Position</th><th>Department</th></tr>
  	    </thead>
  	    <tr id="empl-row"></tr>
  	    <thead class="thead-light">
  	      <tr><th>Status</th><th>Submit Date</th><th colspan="3">Description</th></tr>
  	     </thead>
  	    <tr id="reim-row"></tr>
  	  </table>
  	</div>
  	<form id="resolve-reim-form" class="border border-white" style="margin-right: 10%; margin-left: 10%">
  	  <div class="form-group">
        <label for="reason">Reason</label>
        <textarea id="reason" rows="3" placeholder="Reason if Denial" class="form-control" autofocus></textarea>
      </div>
  	  <div class="text-center">
	    <input type="button" id="approve-btn" value="Approve" class="btn btn-dark btn-lg">
	    <input type="button" id="denial-btn" value="Deny" class="btn btn-dark btn-lg">
	    <input id="resolve-return-btn" class="btn btn-secondary btn-lg" type="button" value="Return">
	  </div>
  	</form>
    <script type="text/javascript" src="../static/scripts/ResolveReimScript.js"></script>
  </body>
</html>