<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee | Profile</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand">Expense Reimbursement System</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/Project_1/employeeHome">Reimbursements</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/Project_1/profile">View Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="logout-link">Logout</a>
                </li>
            </ul>  
        </nav>
        <button id="update-btn" class="mt-5 btn btn-success" data-toggle="modal" data-target="#change-name-modal">Change Name</button>
        <div class="modal fade" id="change-name-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">Change Name</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row justify-content-center">
                        <div class="col-xs-4">
                            <input id="first-name" type="text" placeholder="First Name" autocomplete="off" class="form-control">
                            <br>
                            <input id="last-name" type="text" placeholder="Last Name" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div id="fill-inputs-text" class="text-danger text-center" hidden>Please fill in the inputs!</div>
                </div>
                <div class="modal-footer">
                    <button id="close-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="change-btn" type="button" class="btn btn-primary">Change</button>
                </div>
                </div>
            </div>
            </div>
        <h4 class="pt-2 pb-3">Your Profile</h4>
        <table id="profile" class="table table-hover" hidden>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Emp_id</th>
            </tr>
        </table>
    </div>

    <script src="static/Scripts/profile.js"></script>
</body>
</html>