<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:postgresql://adonisc-java-sps.cnafsuk3olsf.us-east-1.rds.amazonaws.com:5432/postgres</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">Randompassword</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<!-- validate, update, create, create-drop -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		
		<!-- include our mapping resources (hbm files) or classes (where we have annotations) -->
		
		<mapping class="com.revature.models.Employee"/>
		<mapping class="com.revature.models.Manager"/>
		<mapping class="com.revature.models.Reimbursement"/>
	</session-factory>
</hibernate-configuration>