
.red:hover {
background-color: red;
}

.green:hover {
background-color: green;
}

.blue:hover {
background-color: blue;
}

.yellow:hover {
background-color: yellow;
}

.purple:hover {
background-color: purple;
}
