<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-nav></app-nav>
</div>
<div  class="container">
  <!-- <app-first></app-first>
  <app-first></app-first>
  
  <app-clicker></app-clicker>

  <app-pipe-demo></app-pipe-demo> -->

  <!-- <app-s-directives></app-s-directives> -->

  <!-- <app-a-directives></app-a-directives>

  <app-databinding></app-databinding> -->
  
  <router-outlet></router-outlet>
</div>
