<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="static/Styles/landing.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Expensify</title>
</head>
<body>
<nav class="navbar navbar-light bg-info">
    <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 		aria-expanded="false">
      Employee Portal
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" id="signOut">Sign Out</a>
    </div>
  </div>  
  <form id="search" class="form-inline">
    <input class="form-control mr-sm-2" type="search" id="id" placeholder="Employee Id" aria-label="Search">
    <button id="findInvoices" class="btn btn-success my-2 my-sm-0" type="button">Search</button>
  </form>
</nav>
<div>
  <div>
  <div class="card testimonial-card bg-warning"  id="employeeInfo">
  
        <div class="card-up info-color"></div>
     
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" id="pic" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
     
          <h4 class="font-weight-bold mb-4 text-center" id="full_name"></h4>
          <hr>
          <p class="dark-grey-text mt-4 text-center" id="manager_status"></p>
          <button class="btn btn-info" id="fetchInvoice" >Fetch Pending Invoices</button>
          <button class="btn btn-success" id="fetchEmployee" >Fetch Employees</button>
          <button class="btn btn-success" id="fetchResolved" >Fetch Resolved</button>
          <button class="btn btn-danger" id="editEmployee" >Edit Profile</button>
          <button class="btn btn-danger" id="createInvoices" >Create Invoice</button>
          <button class="btn btn-secondary" id="pendingInvoices" >My Pending Invoices</button>
          <button class="btn btn-secondary" id="myResolvedInvoice" >My Resolved Invoices</button>
          
          
        </div>
      </div>
      </div>
		
	<div class="table table" id="invoiceList"  hidden="true">

	</div>
			
	<ul class="list-unstyled mt-3" id="employeeDirectory" hidden>

	</ul>

  	</div>
  	
  	<div class="container" id="locatedInvoice">
  	</div>
  <div class="container" id="createInvoice">
  <form class="border border-white">
    <div class="form-group">
      <label for="amount">Amount</label>
      <input id="amount" type="number" placeholder="Amount" class="form-control" required autofocus autocomplete="off">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" rows="4" placeholder="Reason for Reimbursement" class="form-control" required></textarea>
    </div>
    <div class="text-center">
	  <input type="button" id="submit-btn" value="Submit" class="btn btn-dark btn-lg">
	</div>
  </form>
  </div>
  <div class="container" id="listOfMyPendingInvoices" style="display:none">
  </div>

<div class="container" id="approveOrDeny">
  <form class="border border-white">
    <div class="form-group">
      <label for="invoice">Enter Invoice Id</label>
      <input id="invoiceId" type="number" placeholder="Invoice" class="form-control" required autofocus autocomplete="off">
    </div>
 
    <div class="text-center">
	  <input type="button" id="deny-btn" value="Deny" class="btn btn-danger btn-lg">
	   <input type="button" id="approve-btn" value="Approve" class="btn btn-success btn-lg">
	</div>
  </form>
  </div>
  

</body>
<script src="static/Scripts/landing.js"></script>
</html>