<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<link rel="icon" 
	href="https://img.icons8.com/bubbles/100/000000/star.png"
	type="image">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<title>Approve or Deny</title>

<style>
body {
  background-image: url(https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260

);
}
</style>	
</head>


<body class="container">

	<h1 style="text-align: center">Approve or Deny Request</h1>

	<div id="centered">




		<form class="form-horizontal">
			<label for="reimbursementid" class="center">Reimbursement Id</label>
			<br>
			<div class="input-group">
				<span class="input-group-addon"><i
					class="glyphicon glyphicon-qrcode"></i></span> <input id="reimbursement-id"
					type="number" min="1" onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" class="form-control" name="reimbursementid"
					placeholder="Id#">
			</div>
	
		</form>

		<div>
			<button class="btn btn-success" id="approve-btn" class="text-center">Approve</button>
			<button class="btn btn-danger" id="deny-btn" class="text-center">Deny</button>
		</div>
	</div>


	<script type="text/javascript"
		src="static/scripts/ApproveOrDeny.js"></script>


</body>
</html>