  
body{
    background-color: brown;
}



th {
    text-decoration: underline;
    text-decoration-color: blue;
}



img:hover{
    background-color: rgb(80, 0, 0);
}

a:link{
    color:green;
}

th, td {
    padding: 10px;
    border: solid 2px;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 20px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}