body, html {
  height: 100%;
}

.bg-img {
  /* The image used */
  background-image: url("../Images/bike.jpg");

  /* Control the height of the image */
  min-height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
